/* COLORS */
:root {
    /* ### Primary */
    --Brightorange: hsl(31, 77%, 52%);
    --Darkcyan: hsl(184, 100%, 22%);
    --Verydarkcyan: hsl(179, 100%, 13%);
    --White: hsl(0, 0%, 100%);
    /* ### Neutral */
    /* (paragraphs) */
    --Transparentwhite: hsla(0, 0%, 100%, 0.75);
    /* (background, headings, buttons) */
    --Verylightgray: hsl(0, 0%, 95%);

    /* FONTS */
    --ff-main: 'Big Shoulders Display', cursive;
    --ff-secondary: 'Lexend Deca', sans-serif;
    --fw-reg: 400;
    --fw-bold: 700;

}

body {
    font-size: 15px;
    font-family: var(--ff-main);
    display: grid;
    place-items: center;
    height: 100vh;

}

.main {
    width: 15rem;
}

/* MOBILE first */

.flexbox {
    color: var(--Transparentwhite);
}

.wrapper {
    width: 70%;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

.item-1 {
    background: var(--Brightorange);
    border-radius: 0.5rem 0.5rem 0 0;

}

.item-2 {
    background: var(--Darkcyan);
}

.item-3 {
    background: var(--Verydarkcyan);
    border-radius: 0 0 0.5rem 0.5rem;
}

img {
    width: 2.75rem;
    margin-top: 1.5rem;
}

.header,
.info,
button {
    margin: 0 0 1.5rem 0;

}


.header {
    text-transform: uppercase;
    font-weight: var(--fw-bold);
    font-size: 1.75rem;
    color: var(--White);
    margin-top: 1.5rem;
}

.info {
    font-family: var(--ff-secondary);
    font-weight: var(--fw-reg);
    color: var(--Transparentwhite);

}

button {
    border-radius: 10rem;
    border: solid;
    padding: 0.75rem 0;
    width: 8em;


}

.button-1 {
    color: var(--Brightorange);
}

.button-1:hover {
    background: var(--Brightorange);
    border: solid var(--Transparentwhite);
    color: var(--Transparentwhite);
    cursor: pointer;
}

.button-2 {
    color: var(--Darkcyan);
}

.button-2:hover {
    background: var(--Darkcyan);
    border: solid var(--Transparentwhite);
    color: var(--Transparentwhite);
    cursor: pointer;
}

.button-3 {
    color: var(--Verydarkcyan);
}

.button-3:hover {
    background: var(--Verydarkcyan);
    border: solid var(--Transparentwhite);
    color: var(--Transparentwhite);
    cursor: pointer;
}

@media (min-width: 1000px) {

    body {
        height: 100vh;
        display: grid;
        place-items: center;
    }

    .main {
        width: 50rem;
    }

    .flexbox {
        display: flex;
        justify-content: center;
    }



    .flex-item {
        display: flex;
        width: 33%;
    }

    button {
        margin-top: auto;

    }

    .item-1 {
        border-radius: 0.5rem 0 0 0.5rem;

    }

    .item-3 {
        border-radius: 0 0.5rem 0.5rem 0;

    }






}